.footer {
  padding: 35px;
  background: $bgColor;

  &--disable {
    display: none;
  }

  @media screen and (max-width: 1120px) {
    width: 100%;
    margin-left: 0;
  }
  @media screen and (max-width: $tabletWidth) {
    padding: 15px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
    max-width: $maxWidth;
    margin: 0 auto;

    @media screen and (max-width: $tabletWidth) {
      flex-direction: column;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: $textGray;
    opacity: 0.72;
    width: 100%;

    @media screen and (max-width: $tabletWidth) {
      text-align: center;
    }
  }

  &__break {
    @media screen and (max-width: $tabletWidth){
      display: none;
    }
  }
}
